<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clario Live</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <main>
        <div id="header">
            <h1>ClarioLive</h1>
        </div>
        <div id="content">
            <div id="matches">
                <div id="matches-buttons">
                    <button>Today's matches</button>
                    <button>Fixtures</button>
                    <button>Results</button>
                </div>
                <div id="matches-content">
                    <div id="todays-matches"></div>
                    <div id="fixtures"></div>
                    <div id="results"></div>
                </div>
            </div>
            <div id="competition">
                <div id="competition-buttons">
                    <button>Standings</button>
                    <button>Top goal scorers</button>
                </div>
                <div id="competition-content">
                    <div id="standings"></div>
                    <div id="top-goal-scorers"></div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>